body {
  height: 100%;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #9370DB;
  font-family: 'Montserrat', sans-serif;
}

.navbar a:hover {
  color: white;
  background: #9370DB;
}

#about-content{
  display: flex;
  justify-content: space-around;
  margin-top: 22%;
}

#feature-content{
  display: flex;
  justify-content: space-around;
  margin-top: 22%;
}

img{
  border-radius:50%;
  border: solid 5px #9370DB;
}

.my-description{
  background: white;
  margin: 3%;
  padding: 4%;
  font-family:'Pangolin',sans-serif;
}

.Hobbies{
  background: blue;
  margin: 3%;
  padding: 4%;
  font-family:'Skranji',sans-serif;
}

html{
  height: 100%;
  background-image:url('https://shop.steelers.com/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/0/0/0005743_pittsburgh-steelers-logo-auto-emblem.jpeg');
  background-size: cover;
  
}

.main-container{
  border: solid 3px blue;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-image:url('puertoricanflag.jpg');
  background-size: cover;
}

#banner{
 padding-top:22%;
 font-family:'Pangolin', cursive;
 font-size:35px;
 display: flex;
 justify-content: center;
 color:#000080;
}

#heading{
 height: 100%;
 font-family:'Skranji', cursive;
 display: flex;
 justify-content: space-around;
 color:#000080;
}

.project-container {
  margin-top: 20%;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

span{
  background:#9370DB;
  width: 30%;
  height: 60%;
  margin: 2%;
  padding: 2%;
  font-family:'Skranji', sans-serif;
  color: white;
  align-items: center;
  
}
